<%- include ('partials/header') %>

<!-- Showcase + Overlay -->
<section class="section-head">
  <div class="overlay">
    <div class="section-head-inner">
      <h1>DesiHotelHouse</h1>
      <h2>
       See great Hotel, Restaurant, Cafe, Bars, and more
       See whats Best in your Locality and vist,
      </h2>
      <p>
        <a class="btn" href="/hotels">Lets get Started</a>
      </p>
    </div>
  </div>
</section>

<!-- Gallery -->
<section class="section-gallery">
  <div class="gallery">
    <img src="/images/gallery1.jpg">
    <img src="/images/gallery2.jpg">
    <img src="/images/gallery3.jpg">
    <img src="/images/gallery4.jpg">
  </div>
</section>

<!-- Hotels -->
<section class="section-hotels">
  <div class="container">
    <div class="content">
      <h3>Tasty and delicious food waiting For you.</h3>
      <p>
      India is Full of tasty and Healty food like
      North Indian cuisine Restaurant includes Aloo gobi, Aloo tikki, Aloo matar, WORLD FAMOUS <strong>Biryani, </strong>
      <strong>Butter chicken or murg makhani </strong> and lot to See on website.
      South India cuisine Restaurant includes Chicken 65, Dosa, Idli or idly, Uthappam etc. 
      West India cuisine Restaurant includes Barfi, Bombil fry, Jalebi etc.
      </p>
      <a class="btn" href="/hotels">Lets get Started</a>
    </div>
    <div>
      <img src="/images/bbq.jpg" alt="DesiHotelHouse">
    </div>
  </div>
</section>

<%- include ('partials/footer') %>